
/*
 * 色调
 * 1. 主色    #ff6633   RGB 255,102,51
 * 2. 辅色    #757475   RGB 117,116,117
 * 3. 墨图色  #332c2b   RGB 51,44,43
 */

.clear:after {
  display: block;
  content: '';
  clear: both;
}

.pull-left {
  float: left;
}

.pull-right {
  float: right;
}

.text-left {
  text-align: left;
}

.border-radius {
  border-radius: 5px;
}

.filter-container {
  border-radius: 5px;
  background-color: #fff;
  padding: 15px 20px;
}

.lineHeight {
  line-height: 50px;
}

.routerLink {
  cursor: pointer;
}

.routerLink:hover {
  text-decoration: underline;
}

/* 搜索工具栏 */
.searchToolbar {
  padding: 0 0 10px 0;
  overflow: hidden;
}

.searchToolbar .searchWarp {
  /* width: 80%; */
  text-align: left;
}

.searchToolbar .showPoint {
}

.searchToolbar .todoWarp {
  /* width: 20%; */
  text-align: right;
}

.todoWarpTop {
  text-align: right;
}

.todoWarpBottom {
  text-align: center;
  margin-top: 30px;
}

.labelSlot:before {
  content: '*';
  color: #f56c6c;
  margin-right: 4px;
}

/* 自定义样式
 *
 *  */
/* 宽度 */
.w50 {
  width: 50px;
}
.w100 {
  width: 100px;
}

.w120 {
  width: 120px;
}

.w150 {
  width: 150px;
}

.w180 {
  width: 180px;
}

.w300 {
  width: 300px;
}

.w200 {
  width: 200px;
}

.w400 {
  width: 400px;
}

.w500 {
  width: 500px;
}

.w508 {
  width: 508px;
}

.w214 {
  width: 214px;
}

/* 颜色 */
.errorColor {
  color: #ff3a32;
}

.mianColor {
  color: #ff6633;
}

.grayColor {
  color: #999;
}

.defaultColor {
  color: #606266;
}

.underline {
  cursor: pointer;
}

/*
* 自定义样式
* 修改组件样式
* */

/* 修改tab active */
.el-tabs__item.is-active {
  position: relative;
}

.el-tabs__item.is-active:before {
  content: '';
  display: inline-block;
  width: 100%;
  height: 4px;
  background-color: #ff6633;
  position: absolute;
  top: 0;
  left: 0;
}

/* 修改按钮 */
/* .el-button--primary {
    background-color: #ff6633;
    border-color: #ff6633;
}

.el-button--warning {
    background-color: #fe6900;
    border-color: #fe6900;
}

.el-button--info {
    background-color: #4f5e6a;
    border-color: #4f5e6a;
}

.el-button--danger {
    background-color: #fe3b32;
    border-color: #fe3b32;
}
 */
.dialog-model-footer {
  text-align: center;
}

/* 修改表格 */
.cmyyTable {
  width: 100%;
}

.cmyyTable .el-table thead {
  height: 40px;
  line-height: 40px;
}
.cmyyTable .el-table th {
  padding: 0;
  color: #fff;
  font-size: 13px;
  background-color: #757475;
}
.cmyyTable .el-table td {
  font-size: 12px;
  padding: 7px 0;
}
.cmyyTable .el-table td .cell {
  line-height: 15px;
  padding: 0 5px;
}

.cmyyTable .el-table--striped .el-table__body tr.el-table__row--striped td {
  background-color: #eee;
}

.cmyyPpaginationWarp {
  padding: 10px 0 0 0;
}

/* 详情样式 */
.datailForm {
  margin-top: 15px;
  border: 1px solid #ddd;
  border-bottom: none;
}
.datailForm .el-form-item {
  margin-bottom: 0;
  border-bottom: 1px solid #ddd;
}
.datailForm .el-form-item__label {
  font-size: 12px;

  padding: 10px 0;
  color: #999;
}
.datailForm .el-form-item__content {
  box-sizing: border-box;
  font-size: 12px;
  text-align: left;
  padding: 10px 0 0 10px;
  border-left: 1px solid #ddd;
}

/* 弹窗提示语 */
.dialogNote {
  text-align: left;
  margin-bottom: 15px;
}

/* 标题样式    积分礼品新增   详情    编辑 */
.message {
  width: 96px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  color: #fff;
  background-color: #909399;
}
.borderBottm {
  display: block;
  height: 1px;
  border-bottom: 1px solid #e6e6e6;
  margin-bottom: 10px;
}
.el-form-item--small .el-form-item__content {
  line-height: 33px;
}

/* icss修改表格横向滚动条样式 */
.el-table__body-wrapper::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
.el-table__body-wrapper::-webkit-scrollbar-track {
  background: #fff;
  border-radius: 2px;
}
.el-table__body-wrapper::-webkit-scrollbar-thumb {
  background: #bebebe;
  border-radius: 8px;
}
.el-table__body-wrapper::-webkit-scrollbar-thumb:hover {
  background: #ff6633;
}
.el-table__body-wrapper::-webkit-scrollbar-corner {
  background: #fff;
}



.add-page-button-warp {
  margin-bottom: 20px;
}
.detailListTitle {
  font-size: 18px;
  font-weight: bold;
  color: #666;
  margin: 20px 0;
}

/* 图片展示 */
.productAvatar {
  width: 100px;
  height: 62px;
  display: block;
}
.avatar {
  width: 100px;
  height: 100px;
  display: block;
}



/* 暂无数据 */
.noDataWarp {
  padding: 50px 0;
  text-align: center;
  background-color: #fff;
  color: #999;
}

.el-image-viewer__close {
  top: 120px;
  color: #fff;
}
