.proItem:hover {
  box-shadow: 0 2px 12px 0 rgba(0,0,0,0.5);
}
.proItem {
  box-shadow: 0 2px 12px 0 rgba(0,0,0,0.1);
  position: relative;
  margin-bottom: 15px;
  transition: 0.5s;
  background-color: #fff;
  // imgWarp
  .imgWarp {
    position: relative;
    min-height: 140px;
    .proImg {
      display: block;
      width: 100%;
    }
    .copy {
      position: absolute;
      top: 0;
      right: 10px;
      cursor: pointer;
    }
  }

  // infoWarp
  .infoWarp {
    padding: 12px;
    font-size: 14px;
    // line-height: 30px;
    color: $--color-text-regular;
    .name {
      font-size: 16px;
      color: $--color-text-primary;
      font-weight: bold;
      height: 25px;
      line-height: 25px;
      margin-bottom: 10px;
      text-overflow: -o-ellipsis-lastline;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 1;
      line-clamp: 1;
      -webkit-box-orient: vertical;
    }
    .spec {
      display: flex;
      margin: 15px 0;
      .specText {
        flex: 1;
        text-overflow: -o-ellipsis-lastline;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 1;
        line-clamp: 1;
        -webkit-box-orient: vertical;
      }
      .specTextMore {
        width: 60px;
        color: $--color-primary;
        cursor: pointer;
      }
    }
    .price {
      .priceText {
        color: $--color-primary;
        span {
          font-size: 24px;
          font-weight: bold;
        }
      }
      .priceBtn {

      }
    }
  }

  // proLayer
  .proLayer {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.6);
    color: #fff;
    padding: 30px 25px;
    font-size: 14px;
    .title {
      margin-bottom: 15px;
    }
    dl {
      overflow: hidden;
      margin-top: 8px;
      dt {
        float: left;
      }
      dd {
        float: right;
        color: $--color-primary;
        span {
          font-weight: bold;
        }
      }
    }
    .addProject {
      width: calc(100% - 24px);
      position: absolute;
      bottom: 12px;
      left: 12px;
    }
  }
}
